<nav aria-label="breadcrumb">
  <ol class="flex space-x-2">
    <% let segments = path.split('/').filter(s=>s) %>
    <% segments.forEach((seg, i) => { %>
      <% let name = lookup[seg] || seg %>
      <li>
        <% if (i < segments.length - 1) { %>
          <a href="<%= '/' + segments.slice(0,i+1).join('/') %>"><%= name %></a>
        <% } else { %>
          <span><%= name %></span>
        <% } %>
      </li>
    <% }) %>
  </ol>
</nav>
