<div class="bg-white p-4 rounded shadow" x-data="searchWidget()">
  <h3>Search</h3>
  <input x-model="query" @input.debounce.300="search()" placeholder="Search…"/>
  <ul x-show="results.length" class="border mt-1">
    <template x-for="r in results" :key="r.id">
      <li @click="go(r)" class="p-2 hover:bg-gray-100">{{ r.label }}</li>
    </template>
  </ul>
</div>
<script>
  function searchWidget() {
    return {
      query: '',
      results: [],
      async search() {
        if (!this.query) return this.results = []
        this.results = await fetch(`/api/search?q=${encodeURIComponent(this.query)}`)
          .then(r => r.json())
      },
      go(rec) { window.location = rec.url }
    }
  }
</script>
