<div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Investigations</h2>
</div>
<% if (caseData.investigations && caseData.investigations.length > 0) { %>
  <ul class="divide-y divide-gray-200">
    <% caseData.investigations.forEach(i => { %>
      <li class="py-2"><%= i.investigatorName %>: <%= i.details %></li>
    <% }) %>
  </ul>
<% } else { %>
  <div class="text-center py-8 bg-gray-50 rounded-lg">
    <p class="text-gray-500">No investigations have been added yet.</p>
  </div>
<% } %>
