<form action="/cases/<%= booking.case.id %>/victims" method="POST">
  <input type="text" name="name" placeholder="Victim Name">
  <textarea name="statement" placeholder="Statement"></textarea>
  <button type="submit">Add Victim</button>
</form>
