<h2>Warrants</h2>
<% if (case.warrants && case.warrants.length > 0) { %>
  <ul>
    <% case.warrants.forEach(w => { %>
      <li><%= w.status %>: <%= w.details %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No warrants added yet.</p>
<% } %>
