<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <main class="container mx-auto p-4">
    <%- body %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
