<h1>Person Selection</h1>

<div x-data="{ query: '', persons: [], selectedPerson: null }">
  <input type="text" x-model="query" @input.debounce.500ms="fetch('/api/persons?q=' + query).then(res => res.json()).then(data => persons = data)" placeholder="Search for a person...">

  <ul>
    <template x-for="person in persons" :key="person.id">
      <li @click="selectedPerson = person.id" x-text="person.name"></li>
    </template>
  </ul>

  <a :href="'/police/case/new?personId=' + selectedPerson" :disabled="!selectedPerson">
    <button>Next: Create Case</button>
  </a>
</div>

<hr>

<h2>Create New Person</h2>
<div x-data="{ open: false }">
  <button @click="open = !open">New Person</button>

  <div x-show="open">
    <form action="/police/people/new" method="POST">
      <% if (typeof errors !== 'undefined') { %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" value="<%= typeof name !== 'undefined' ? name : '' %>">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" value="<%= typeof email !== 'undefined' ? email : '' %>">
      </div>
      <button type="submit">Create Person</button>
    </form>
  </div>
</div>
